.body-content {
    padding: 0;
    margin: 0;
    width: 100vw;
    padding-top: 80px;
}
.footer {
    padding: 0;
    margin: 0;
    width: 100vw;
    }

.nav-link.active {
    color: #ffcc00 !important;
    font-weight: bold;
    border-bottom: 2px solid #ffcc00;
}

.navbar-nav .nav-link {
    color: white; /* Chữ trắng */
    font-weight: bold; /* In đậm */
}

/* Hiệu ứng mờ dần khi tải trang */
.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar {
    position: fixed; /* Cố định menu */
    top: 0; /* Gắn lên trên cùng */
    left: 0;
    width: 100vw; /* Chiều rộng full màn hình */
    background-color: #ff6600; /* Màu cam */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Đổ bóng nhẹ */
    z-index: 1000; /* Đảm bảo trên cùng */
}

